<div class="bg-dark border-top">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mx-4">
        <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="assets/images/leon.svg" alt="" class="bi" width="45" height="39">
        </a>
        <span class="text-muted">Made by Heber Jair León Ramírez &copy; 2022</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/heberjairleonramirez/" target="_blank"><img src="assets/images/linkedin.png" alt="" class="bi" width="30" height="30"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/jairleon1405/" target="_blank"><img src="assets/images/facebook.png" alt="" class="bi" width="30" height="30"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/_biggie_lion_/" target="_blank"><img src="assets/images/Instagram.png" alt="" class="bi" width="30" height="30"></a></li>
        </ul>
    </footer>
</div>
