<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
        <a class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
            <img src="assets/images/leon.svg" class="bi" width="45" height="39">
        </a>
        <span class="text-muted">&copy; 2022 Made by Heber Jair León Ramírez</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/heberjairleonramirez/"><img src="assets/images/linkedin.svg" class="bi" width="24" height="24"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/jairleon1405/"><img src="assets/images/facebook.svg" class="bi" width="24" height="24"></a></li>
        <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/_biggie_lion_/"><img src="assets/images/instagram.svg" class="bi" width="24" height="24"></a></li>
        </ul>
    </footer>
</div>