<div class="container acordeonColumna">
  <div class="accordion accordion-flush" id="datosAcordeon">

    <!--Seccion de los personajes-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="tituloPersonajes">
        <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#seccionPersonajes"
        aria-expanded="true"
        aria-controls="seccionPersonajes">
          Personajes
        </button>
      </h2>

      <!--Seccion donde se renderiza los datos de los personajes-->
      <div
      id="seccionPersonajes"
      class="accordion-collapse collapse collapsed"
      aria-labelledby="tituloPersonajes"
      data-bs-parent="#datosAcordeon">
        <div class="accordion-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere dolorem omnis quidem placeat deserunt laborum id veritatis fugiat nihil. Earum, eaque sapiente aspernatur nesciunt aperiam tenetur quis ab officia?</p>
        </div>
      </div>
    </div>

    <!--Seccion de los personajes-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="tituloPlanetas">
        <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#seccionPlanetas"
        aria-expanded="false"
        aria-controls="seccionPlanetas">
          Planetas
        </button>
      </h2>

      <!--Seccion donde se renderiza los datos de los planetas-->
      <div
      id="seccionPlanetas"
      class="accordion-collapse collapse collapsed"
      aria-labelledby="tituloPlanetas"
      data-bs-parent="#datosAcordeon">
        <div class="accordion-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere dolorem omnis quidem placeat deserunt laborum id veritatis fugiat nihil. Earum, eaque sapiente aspernatur nesciunt aperiam tenetur quis ab officia?</p>
        </div>
      </div>
    </div>

    <!--Seccion de los vehiculos-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="tituloVehiculos">
        <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#seccionVehiculos"
        aria-expanded="false"
        aria-controls="seccionVehiculos">
          Vehiculos
        </button>
      </h2>

      <!--Seccion donde se renderiza los datos de los vehiculos-->
      <div
      id="seccionVehiculos"
      class="accordion-collapse collapse collapsed"
      aria-labelledby="tituloVehiculos"
      data-bs-parent="#datosAcordeon">
        <div class="accordion-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus facere dolorem omnis quidem placeat deserunt laborum id veritatis fugiat nihil. Earum, eaque sapiente aspernatur nesciunt aperiam tenetur quis ab officia?</p>
        </div>
      </div>
    </div>
  </div>
</div>
